<div class="desktop">
    <nav class="navbar navbar-expand-lg navbar-dark bg-black">
        <div class="container px-5">
            <a class="navbar-brand" href="{{ path('app_main')}}">SnowTricks</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_main') }}">Accueil</a></li>
                    <li class="nav-item"><a class="nav-link" href="#tricks">Tricks</a></li>
                    {% if app.user %}
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_add_trick') }}">Ajouter un trick</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_user_profil') }}">Mon compte</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_register') }}">Inscription</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_login') }}">Connexion</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="mobile">
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ path('app_main')}}">
                <i class="bi bi-house-door"></i>
            </a>
                    {% if app.user %}
                        <a class="navbar-brand" href="{{ path('app_add_trick') }}">
                            <i class="bi bi-bookmark-fill"></i>
                        </a>
                        <a class="navbar-brand" href="{{ path('app_user_profil') }}">
                            <i class="bi bi-person-circle"></i>
                        </a>
                        <a class="navbar-brand" href="{{ path('app_logout') }}">
                            <i class="bi bi-box-arrow-left"></i>
                        </a>
                    {% else %}
                        <a class="navbar-brand" href="{{ path('app_register') }}">
                            <i class="bi bi-journal-check"></i>
                        </a>
                        <a class="navbar-brand" href="{{ path('app_login') }}">
                            <i class="bi bi-box-arrow-in-right"></i>
                        </a>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>