{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié | SnowTricks{% endblock %}

{% block body %}
    <div style="display: flex; justify-content: center; align-items: center; min-height: 100vh">
        <div class="wrap py-4 bg-white overflow-hidden col-12 col-md-8 col-lg-6 col-xl-4">
            {% for flashMessage in app.flashes('success3') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {{ form_start(form) }}
            <h1 class="h3 mb-3 font-weight-normal">Mot de passe oublié</h1>

            {{ form_row(form.username) }}

            <div class="inscription mt-4">
                {{ form_widget(form.submit) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
